<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

    </head>
    <div class="title">
        <h1>Stock Trading as a Service</h1>
    </div>
    <body>
        <div class="container" id="PlaceOrder">
            <div class="dropdown" data-bs-theme="dark">
                <button id="TickerMenuButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Select a Symbol
                </button>
                <ul id="TickerType" class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" data-value="value1">AAPL</a></li>
                  <li><a class="dropdown-item" href="#" data-value="value2">GOOG</a></li>
                  <li><a class="dropdown-item" href="#" data-value="value3">TESLA</a></li>
                </ul>
                <button id="OrderMenuButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select an Order Type
                </button>
                <ul id="OrderType" class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Market</a></li>
                    <li><a class="dropdown-item" href="#">Limit</a></li>
                </ul>
                <button id="place" type="button" class="btn btn-outline-success">Place Order</button>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="js/dropdown.js"></script>
        <script src="js/API.js"></script>
        <script src="js/place_order.js"></script>
    </body>
</html>