<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">StockBot</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Load a Model</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Save a Model</a>
                  </li>
                </ul>
              </div>
              <div class="ml-auto">
                <button type="button" class="btn btn-secondary" data-container="body" id="AccountValue" data-toggle="popover">Account Value</button>
              </div>
            </div>
          </nav>
        <div class="container" id="PlaceOrder">
          <h2 class="text-white">Place an Order</h1>
            <div class="dropdown" data-bs-theme="dark">
                <button id="TickerMenuButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Select a Symbol
                </button>
                <ul id="TickerType" class="dropdown-menu">
                  <a class="dropdown-item" href="#">AAPL</a>
                  <a class="dropdown-item" href="#">GOOGL</a>
                  <a class="dropdown-item" href="#">TSLA</a>
                </ul>
                <button id="OrderMenuButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select an Order Type
                </button>
                <ul id="OrderType" class="dropdown-menu">
                    <a class="dropdown-item" href="#">Buy</a>
                    <a class="dropdown-item" href="#">Sell</a>
                </ul>
                <button id="QuantityButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Quantity
                </button>
                <ul id="Quantity" class="dropdown-menu">
                    <a class="dropdown-item" href="#">1</a>
                    <a class="dropdown-item" href="#">5</a>
                    <a class="dropdown-item" href="#">10</a>
                    <a class="dropdown-item" href="#">50</a>
                    <a class="dropdown-item" href="#">100</a>
                </ul>
                <button id="place" type="button" class="btn btn-outline-success">Place Order</button>
                <button id="momentum" type="button" class="btn btn-outline-success">Momentum Trading</button>
            </div>
          </div>
        <div class="container" id="Positions">
            <nav class="navbar navbar-dark bg-dark" id="title">
                <span class="navbar-brand mx-auto">Positions</span>
            </nav>
            <div class="overflow-auto border border-dark border-5" id="openPositions" style="padding: 5px;">
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="js/dropdown.js"></script>
        <script src="js/place_order.js"></script>
        <script src="js/get_current_positions.js"></script>
        <script src="js/get_account_value.js"></script>
    </body>
</html>