body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #000307, #151617, #222223, #2f2f30, #3d3d3d);
}

.title h1{
    font-family: 'PT Serif', serif;
    color: white;
    text-align: center;
    padding: 10px;

}

#PlaceOrder{
    text-align: center;
    padding: 10px;
    margin-top: 10vh;
}

#Positions{
    text-align: left;
    padding: 10px;
    width: 500px;
    height: 200px;
    color: wheat;
    font-family: 'PT Serif', serif;

}


.container .dropdown{
    padding: 20px;
}

.container button{
    margin: 20px;
}


.alert {
    display: none;
}

